<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h2>You are Admin</h2>

    <div class="div1" id="div1"></div>

    <a href="/admin/logout">logout</a> <br>
    <a href="/">back to home</a>

    <script>
        const div1 = document.getElementById('div1');
        
    </script>
</body>
</html>