<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Control Project</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Services</a></li>
                <li><a href="/">About Us</a></li>
                <li><a href="/">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <div class="div1" id="div1">
             I am Back-End Developer 
        </div>
        <div class="div2" id="div2">
            here is some text about this website
        </div>
        <div class="div3" id="div3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, rerum facere commodi voluptate vel nemo eligendi veritatis minus ad eius earum laboriosam nobis assumenda, saepe mollitia! Iusto minus eos sapiente reprehenderit hic. Eveniet impedit, quaerat sint itaque doloribus, incidunt in laborum nam cumque quas unde. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, iure aspernatur. Totam illum omnis, consectetur laborum quidem cum sunt necessitatibus minima laudantium a? Quae animi illo libero facere adipisci cumque corporis asperiores perspiciatis ea! Obcaecati incidunt voluptates excepturi laudantium saepe pariatur tempore consectetur aperiam corporis architecto optio dicta minima illo ipsa, quas explicabo tenetur, expedita doloribus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis repellat corrupti optio aspernatur velit nihil iure nemo culpa, officiis earum 
        </div>

    </main>

    <a href="/admin">Admin</a>
    <br>
    <a href="/admin/login">Admin login</a>
    <br>
    <a href="/admin/register">Admin register</a>

    <footer>
        <div> Copyright &copy; Ravindra Valand 2024</div>
    </footer>

    <script>
        const div1 = document.getElementById('div1');
        const div2 = document.getElementById('div2');
        const div3 = document.getElementById('div3');

        const baseURL = 'http://localhost:3000/'
        async function getData(){

            const res = await fetch(baseURL+'api/home',{
                method:'POST',
                headers:{
                    'content-type':'application/json'
                },
            }).then((r)=>{
                const data = await .json();
                console.log(data)
            })
        }
        
    

    </script>
</body>

</html>